* {
    margin: 0;
    padding: 0
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    margin: auto;
    border: 4px black;
    border-collapse: collapse;
    max-width: 1000px;
}

td {
    padding: 5px;
}

textarea {
    width: 99%;
    display: block;
    min-height: 200px;
    max-height: 500px;
    resize: vertical;
}

form label {
    width: 65px;
    display: inline-block;
}

form {
    padding: 30px 0;
    border: 1px solid black;
    max-width: 800px;
    margin: auto;
    border-radius: 30px;
}

.ofrm {
    margin: 5px;
}

.ifrm {
    width: fit-content;
    margin: auto;
}

.submit {
    display: block;
    margin: auto;
}